@import "tailwindcss";
@import "fadgram-ui";
@import "./theme.css";
@import "./icons.css";
@import "./sidebar.css";
/* @import "./toast.css"; */
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source '../../vendor/talalalmrka/fgx/**/*.blade.php';
@source '../../node_modules/fadgram-ui/**/*.js';

@layer base {
	body {
		@apply relative font-poppins;
		@apply antialiased;
		@apply text-gray-700 dark:text-gray-100;
		@apply bg-body-bg dark:bg-body-bg-dark;
	}
	
	.screen-slideshow-container * {
		-webkit-user-select: none;
		user-select: none;
	}
	
	.screen-slideshow-container {
		max-width: 100%;
		max-height: 100vh;
		position: relative;
		margin: auto;
		width: 100vw;
		height: 45vw;
		background-color: #fff;
		border: 1px dotted red;
	}
	
	.screen-slideshow-container.full {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100000000;
		margin: 0;
		width: 100vw;
		height: 100vh;
		max-width: none;
		max-height: none;
	}
}

@utility container {
	@apply max-w-4xl;
}