@import "tailwindcss";
@import "fadgram-ui";
@import "./theme.css";
@import "./icons.css";
@import "./sidebar.css";
/* @import "./toast.css"; */
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source '../../vendor/talalalmrka/fgx/**/*.blade.php';
@source '../../node_modules/fadgram-ui/**/*.js';
@layer base {
    body {
        @apply relative font-poppins;
        @apply antialiased;
        @apply text-gray-700 dark:text-gray-100;
        @apply bg-body-bg dark:bg-body-bg-dark;
    }
}
@utility container {
    @apply max-w-4xl border-dotted-red;
}
