@layer base {
    .sidebar-nav {
        @apply nav nav-vertical;
        .nav-link {
            @apply pill;

            &.active,
            &:hover {
                @apply bg-primary/20 text-white transition-colors;
            }
        }
    }
}
